<table class="generic">
  <thead>
  <tr>
    <th>Date</th>
    <th>Url</th>
    <th>User</th>
    <th>Ajax</th>
    <th>Time</th>
  </tr>
  </thead>
  <tbody>
  <% @server_response_times.each do |response_time| %>
      <tr class="scenario_row">
        <td><%= response_time.date %></td>
        <td><%= response_time.url %></td>
        <td><%= response_time.user %></td>
        <td><%= response_time.remote %></td>
        <td><%= response_time.response_time %></td>
      </tr>
  <% end %>
  </tbody>
</table>